@page
@model IndexModel
@{
    ViewData["Title"] = "Harry Potter 🪄";
}

<div class="text-center">
    <h1 class="display-4">Harry Potter and the Web Design Class</h1>
    <p>@ViewData["Holi!"]</p>
    <p>A: @Model.Mensaje</p>

    <form method="post">	
        <input asp-for="Mensaje" />
		<input type="submit" value="Do not click! 🛑​" />
	</form>
<a asp-page="/Pagina2">Ir a otra pantalla</a>

</div>
