@page "{Mensaje?}"
@model Pagina2Model
@{
    ViewData["Title"] = "Página 2";
}

<h2>@ViewData["Title"]</h2>
<p>Bienvenida @ViewData["MSG"]</p>
<p>Sí es cierto que eres la mejor Claudita Solis</p>
<h1>HOLA MUNDO MUNDIAL</h1>
